<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/skolar-dialog.css">
    <link rel="icon" type="image/png" href="~/assets/img/skolarlogo.png">
    @RenderSection("Head", required: false)
</head>
<body>
    <script src="~/js/skolar-dialog.js"></script>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
